<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>net.localhost.PinboardBackup</string>
	<key>LimitLoadToSessionType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>backup-pinboard.sh</string>
		<string>5</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>22</integer>
		<key>Minute</key>
		<integer>25</integer>
	</dict>
	<key>WorkingDirectory</key>
	<string>/Users/{{userid}}/{{subdir}}</string>
</dict>
</plist>
